.top-nav > nav > a {
	margin-left: 10px;
	text-decoration: none;
	color: blue;
}
.top-nav > nav > a.active {
	text-decoration: underline;
}
.secondary-nav > nav > a {
	margin-left: 10px;
	text-decoration: none;
	color: blue;
}
.secondary-nav > nav > a.active {
	text-decoration: underline;
}

form > label {
	display: block;
}
.map {
	width: 300px;
	height: 300px;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	flex: 1;
  }
  
.flex .box {
	padding: 20px;
	border: 1px solid gainsboro;
	margin: 10px;
}

.dts-sub-navigation ul li a.active {
	border-color: #004f91;
}

.dts-status--approved {
	background-color: #026666;
}

.dts-status--pending {
	background-color: #F4E496;
}

.dts-status--rejected {
	background-color: #990000;
}

.input-error {
	border: 2px solid red !important; /* Error border with higher specificity */
}

.input-normal {
	border: 1px solid #ccc; /* Default border to ensure visibility change */
}

table.table-border {
	border: 1px solid #aaa;
}

table.table-border th {
	border: 1px solid #aaa;
	background-color: #ddd;
}

table.table-border th.center {
	text-align: center;
}

.dts-form-component ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 10px;
	/* list-style-type: none; */
	padding: 0;
  }
  
.dts-form-component li {
	/* background: #f0f0f0; */
	padding: 0;
	margin-left: 20px;
	/* border-radius: 4px */
}