
table.dts-editable-table {
	table-layout: fixed;
	border-collapse: collapse;
	width: auto;
}

.dts-editable-table > thead > tr > th.asc::after {
	content: " \2191"; /* Unicode for upward arrow */
}

.dts-editable-table > thead > tr > th.desc::after {
	content: " \2193"; /* Unicode for downward arrow */
}

/*
.dts-editable-table > tbody.group 
{
	border: 0px solid #ccc;
}

.dts-editable-table > tbody.group:nth-child(odd) {
	background-color: #f9f9f9;
}

.dts-editable-table > tbody.group:nth-child(even) {
	background-color: #e9e9e9;
}
*/
.dts-editable-table > tbody > tr.spacing-row 
{
	border: 0;
}
.dts-editable-table > tbody > tr.spacing-row > td 
{
	padding: 8px 2px;
	background: #fff;
}


.dts-editable-table > tbody > tr > td 
{
	overflow: hidden;
	padding: 5px 2px;
	height: auto;
	border: 0;
	vertical-align: baseline;
}

.dts-editable-table > tbody > tr {
	border-bottom: 1px solid #F2F2F2;
}
.dts-editable-table > tbody > tr.dts-error,
.dts-editable-table-legend > ul > .dts-error {
	background: #FF6666;
}
.dts-editable-table > tbody > tr.dts-error > td > button {
	color: #000;
}

.dts-editable-table > tbody > tr > td.dts-init {
}
.dts-editable-table > tbody > tr > td.dts-update,
.dts-editable-table > tbody > tr > td.dts-new,
.dts-editable-table-legend > ul > .dts-new-or-update {
	background: #DFF0D8;
}
.dts-editable-table > tbody > tr > td.dts-warning,
.dts-editable-table-legend > ul >.dts-warning {
	background: #FFFFE0;
}

.dts-editable-table > tbody > tr > td > input,
.dts-editable-table > tbody > tr > td > select {
	width: 100%;
}
/* both top bar above table and right col in table */
.dts-table-actions {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: start;
}
.dts-table-actions-main {
	margin: 20px 0;
}
.dts-table-actions-main > button {
	margin-right: 20px;
}
.dts-table-actions > button {
	color: #00AFAE;
}
.dts-table-actions > button > img {
	width: 16px;
  height: 16px;
}

.dts-editable-table-legend {
	margin: 10px 0;
}

.dts-editable-table-legend > span {
	font-weight: bold;
	margin-right: 20px
}
.dts-editable-table-legend > ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.dts-editable-table-legend > ul > li {
	margin: 0;
	display: inline-block;
	padding: 4px;
}

